<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Query</title>
    <link rel="stylesheet" href="/commonStyle.css">
</head>
<body>
    <h2 >User Queries</h2>
    <br>
   
   

<% if (newQueries.length === 0) { %>
            <!-- No results message -->
            <p >No User Queries</p>
        <% } else { %>
            <% for (let userQuery of newQueries) { %>
                <div class="container">
                    <p >User Name:-<%= userQuery.username %></p>
                    <p  >Email:-<%=userQuery.email %></p>
                    <p>Subject:-<%=userQuery.subject %></p>
                    <p >Message:-<%=userQuery.message %></p>
                 
                </div>
               
                
                <% } %>
                <% } %>


</body>
</html>